
body {
 display: flex;
 justify-content: center;
 background-color: bisque;
 font: serif
}

#main {
  margin-bottom: 20px;
  font-size: 100px;
  width: 100%;
  height: 25px;
}

#time {
  position: fixed;
  top: 0;
  right: 0;
  background: #336600;
  padding: 6px;
  color: #fff;
  font-size: 1.4em;
}

#scoreArea {
  position: fixed;
  top: 0;
  left: 0;
  background: #a87a35;
  padding: 6px;
  color: #fff;
  font-size: 1.4em;
}

#quizContainer {
  visibility: visible;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: antiquewhite;
  width: 750px;
  height: 375px;
  border: transparent
}

#submit {
  visibility: hidden;
  display: flexbox;
  align-self: self-end;
}
#tryAgainButton {
  visibility: hidden;
  display: flexbox;
  align-self: self-end;
}